@model List<ResumeProjectDemoNight.Entities.Service>

@foreach (var item in Model)
{
    string color = "#FFD15C";
    if (int.Parse(item.Rate)>=85)
    {
        color = "#FF4C60";
    }
    else if (int.Parse(item.Rate) <= 60 || int.Parse(item.Rate)>=84)
    {
        color = "#6C6CE5";
    }
    <div class="skill-item">
        <div class="skill-info clearfix">
            <h4 class="float-left mb-3 mt-0">@item.Title</h4>
            <span class="float-right">@item.Rate%</span>
        </div>
        <div class="progress">
            @* <div class="progress-bar data-background" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="@item.Rate" data-color="@color"> *@
                <div class="progress-bar data-background" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="@item.Rate" data-color="@color" style="background-color: rgb(108, 108, 229); width: 70%;">
                </div>
            </div>
        </div>
        <div class="spacer" data-height="20"></div>
    @* </div> *@
}
